/*! общие стили  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

.frameworks-list,
.books-list,
.label,
.text-field {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

table,
.footer-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

/*! заголовок */
header {
    background-color: #2965f1;
    padding: 20px 0;
}

header span {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #ffff;
    /* Стили для текста в хедере IT-INCUBATOR */
}

/*! 1 секция */
.main-section {
    background-color: #FAFAFF;
    min-height: 100vh;
    padding: 60px 0;
    /* Стили для первой секции */
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 20px;
    /* Стили для заголовка в первой секции */
}

.main-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    /* Стили для текста в первой секции */
}

.main-image {
    max-width: 715px;
    /* Стили для изображения в первой секции */
}

/*! вторая секция  */
.about-section {
    background-color: #FFFFFF;
    padding: 100px 0;
    /* Стили для второй секции */
}

select {
    width: 150px;
    padding: 10px 12px;
    background: url(./assets/arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
    font-size: 16px;
    /* Стили для выпадающего списка */
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 25px;
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    list-style-image: url(./assets/arrow.svg);
    padding: 0 20px;
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    padding: 0 20px;
    /* Стили для нумерованного списка во второй секции */
}

.text-field {
    width: 330px;
    height: 36px;
    padding: 9px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    /* Стили для односточного поля ввода текста */
}

.btn {
    background-color: rgb(41, 101, 241);
    color: #ffffff;
    width: 125px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    border-radius: 5px;
    /* Стили для кнопки */
}

.line {
    margin: 60px 0;
    /* Стили для линии */
}

table {
    border: 1px solid #95a1bb;
    /* Стили для таблицы */
}

th,
td {
    padding: 12px 15px;
    /* Стили для ячеек таблицы */
}

footer {
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
    /* Стили для футера */
}

.footer-link {
    text-transform: uppercase;
    text-decoration: none;
    /* Стили для футера */
}